/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Poiret+One|Raleway');

body {
  /* picture by Markus Spiske */
  background-image: url("cassette.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Poiret One', cursive;
}

 h2 {
   text-align: center;
   font-size: 28px;
 }

 form {
   text-align: center;
 }

 form * {
   display: block;
 }

 label {
   font-size: 22px;
 }

 input {
   border-radius: 9px;
   width: 200px;
   font-size: 16px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 5px;
 }

input[type=submit] {
  background-color: #003996;
  padding: 5px;
  color: #f8f8f8;
  font-family: 'Raleway', sans-serif;
  margin-top: 25px;
}
